/*dichiaro variabili CSS globali */
:root {
  /*l'app avrà tema scuro */
  color-scheme: dark;

  /* testo normale*/
  --text: #94a3b8;
  /* titoli */
  --text-h: #f8fafc;
  /* background */
  --bg: #0f172a;
  /* evidenziatura */
  --accent: #38bdf8;

  /* font che uso */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  /*impostazioni di base del testo*/
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* rimpicciolisco font se schermo piccolo */
@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

/* resetto per eliminare stili messi automaticamente dal browser */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  /* Dynamic Viewport Height, rende la pagina alta almeno quanto l'area visibile del dispositivo */
  background-color: var(--bg);
}

body {
  font-family: var(--sans);
  color: var(--text);
}

/* dimensioni dell'app */
#root {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
}

/* font e colore dei titoli */
h1,
h2,
h3 {
  font-family: var(--sans);
  color: var(--text-h);
  font-weight: 600;
  line-height: 1.2;
}

/* faccio ereditare il font dato che non lo ereditano */
input,
select,
textarea,
button {
  font-family: inherit;
}